@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: latoLight;
  src: url('../public/Lato-Light.ttf');
}

@font-face {
  font-family: latoBold;
  src: url('../public/Lato-Bold.ttf');
}

@font-face {
  font-family: latoReg;
  src: url('../public/Lato-Regular.ttf');
}
